<html>
  <head>
    <meta charset='utf-8' />
    <title>Example App</title>
    <link rel='stylesheet' href='/static/css/main.485ae597.css' />

  </head>
  <body>
    <nav>
      <a href='/'>Game</a>
      <a href='/api/highscores'>Highscore</a>
      <a href='/api/info'>Info</a>
    </nav>
    {{{body}}}
  </body>
</html>